{% if nbsp_pg_database is defined %}
NBSP_PG_DATABASE={{ nbsp_pg_database }}
{% endif %}
{% if nbsp_pg_host is defined %}
NBSP_PG_HOST={{ nbsp_pg_host }}
{% endif %}
{% if nbsp_pg_username is defined %}
NBSP_PG_USERNAME={{ nbsp_pg_username }}
{% endif %}
